.box {
  height: 186px;
  overflow-x: hidden !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  margin: 9px 0;
}

.delete-btn {
  cursor: pointer;
}